<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @trip.source %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong>Time travel:</strong>
  <%= @trip.departure %>
</p>
<%= link_to 'Edit', "#{@trip.id}/edit" %> |
<%= link_to 'Back', "show_trips" %>